@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
}
*{font-weight:500!important;}
*{font-family: "文泉驿微米黑", "Microsoft Yahei", "Microsoft JhengHei","iconfont","Octicons"; }
*{text-shadow:0.01em 0.01em 0.01em #999999 !important;}
body {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	font-size: 14px;
}
ul {
	list-style-type: none;
}
h2 {
	font-size: 14px;
	background: #eee;
	height: 25px;
	line-height: 25px;
	text-indent: 10px;	
}

#header {
	width: auto;
	height: 150px;
	border: 2px solid #ccc;
	margin: 0 0 10px 0;
	position: relative;
	z-index: 9999;
}
#header h1 {
	font-size: 12px;
	width: 960px;
	height: 100px;
	background: url(../img/logo.png) no-repeat;
	margin: 0 0 -20px 0;	
}
#header h1 a {
	display: block;
	width: 210px;
	height: 39px;
}
#header .navbar {	
	width:30%;
	margin:20px 0 20px 0;
	float:right;
}
#header .navbar div {
	margin:0 10px 0 0;
	text-align:center;
	float:left;
}
#header .navbar div a {
	display:block;	
	height:25px;
	line-height:25px;
	color:#333;
}
#me, #skin {
	height:25px;
	line-height:25px;
	color:#333;
	text-decoration:underline;
	cursor:pointer;
	background:url(../img/arrow.png) no-repeat right 70%;
}
#me:hover, #skin:hover {
	background:url(../img/arrow2.png) no-repeat right 70%;
}
#me {
	width:70px;
}
#skin {
	width:50px;
}
#me span {
	width:50px;
}
#skin span {
	width:35px;
}
#skin span, #me span {
	display:block;	
	height:25px;
	overflow:hidden
}

#me ul, #skin ul {
	height:100px;
	background:#eee;
	border:1px solid #999;
	border-top:none;
	padding:10px 0 0 0;
	display:none;
	overflow:hidden;
}
#me ul li, #skin ul li {
	display:block;
	height:25px;
	line-height:25px;
	letter-spacing:1px;
}
#me ul li a, #skin ul li a {
	display:block;
	color:#333;
	height:25px;
	text-decoration:none;
}
#message {
	width:40px;
}

#message .noread {
	display:block;
	width:36px;
	text-align:right;
	background:url(../img/noread.gif) no-repeat left center;
}
#message .read {
	display:block;
	width:36px;
	text-align:right;
	background:url(../img/meg.gif) no-repeat left center;
}

#page_num {
	height:20px;
	clear:both;
	padding:20px 0;
	position:relative;
	font-size:12px;
}
#page_num ul {
	position:absolute;
	right:30px;
	height:20px;
}
#page_num ul li {
	float:left;
	width:26px;
	height:20px;
}
#page_num ul li a {
	display:block;
	width:20px;
	height:20px;
	line-height:20px;
	border:1px solid #333;
	text-align:center;
	text-decoration:none;
}
#page_num ul li a:hover,#page_num ul li a.selected {
	background:#666;
	font-weight:bold;
	color:#fff;
}
#page_text {
	height:20px;
	clear:both;
	padding:20px 0;
	font-size:12px;
}
#page_text ul {
	text-align:center;
}
#page_text ul li {
	display:inline;
}
#page_text ul li a {
	color:#333;
}


#center {
	width:auto;
	height:600px;
	border:2px solid #ccc;
	font-size:12px;
}
#center h2 {
	text-indent:0;
	text-align:center;
	height:30px;
	line-height:30px;
}
#center_sidebar {
	width:300px;
	height:550px;
	margin:15px;
	border:1px dashed #999;
	float:left;
}
#center_sidebar dl {
	width:250px;
	background:red;
	margin:15px auto;
}
#center_sidebar dl dt {
	height:40px;
	line-height:40px;
	background:#999;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
#center_sidebar dl dd {
	height:40px;
	line-height:40px;
	background:#eee;
	font-weight:bold;
	text-align:center;
}
#center_sidebar dl dd a {
	display:block;
	color:#333;
	text-decoration:none;
}
#center_sidebar dl dd a:hover {
	background:#ccc;
}
#center_main {
	width:590px;
	height:550px;
	margin:15px;
	border:1px dashed #999;
	float:right;
}

#footer {
	clear: both;
	width: auto;
	height :60px;
	text-align: center;
	margin: 12px 0 0 0;
	border: 2px solid #ccc;
}
#footer p {
	font-size: 12px;
	letter-spacing: 1px;
	padding: 5px 0 0 0;
}
#footer p span {
	color: #06f;
}