@CHARSET "UTF-8";
#topic {
	width:auto;
	min-height:800px;
	border:2px solid #ccc;
	font-size:12px;
}
#topic h2 {
	text-indent:0;
	text-align:center;
}

#subject dl {
	width:180px;
	margin:0;
	padding:10px 0 0 40px;
	float:left;
}
#subject dl dt {
	width:90px;
	margin:5px 0 5px 45px;	
}
#subject dl dt img {
	border:1px dashed #f60;
	display:block;
}
#subject dl dd {
	height:20px;
	line-height:20px;
	text-indent:10px;
	text-align:center;
	width:75px;
	float:left;
}
#subject dl dd.email {
	width:180px;
	text-align:left;
	padding:2px 0 0 0;
	text-indent:5px;
	overflow:hidden;
}
#subject dl dd a {
	text-decoration:none;
	color:#333;
}
#subject dl dd.user {
	width:170px;
	float:none;
	color:#f60;
}
#subject dl dd.friend {
	background:url(../img/x2.gif) no-repeat left 35%;
}
#subject dl dd.message {
	background:url(../img/x3.gif) no-repeat 5px 35%;
	text-indent:18px;
}

#topic .content {
	width:680px;
	float:right;
	padding: 5px 20px 0 0;
}
#topic .content .user {
	height:30px;
	line-height:30px;
	padding:0 0 0 20px;
	border-bottom:1px dashed #999;
	background:url(../img/member.gif) no-repeat left center;
}

#topic .content .user span {
	float:right;
	color:#06f;
}
#topic .content h3 {
	font-size:14px;
	height:40px;
	line-height:40px;
}
#topic .content h3 img {
	position:relative;
	top:2px;
}
#topic .content h3 span {
	font-size:12px;
	font-weight:normal;
	color:#06f;
}
#topic .content h3 span a:hover {
	color:#f60;
}
#topic .content .detail {
	line-height:200%;
	font-size:14px;
}
#topic .content .detail a {
	text-decoration:none;
	color:blue;
}
#topic .content .detail a:hover {
	text-decoration:underline;
	color:#f60;
}
#topic .content p {
	text-align:right;
	padding:10px 0 0 0;
	color:#666;
}
#topic .content .read {
	font-size:12px;
	color:#666;
	padding:10px 0 0 0;
}
#topic p.line {
	clear:both;
	width:95%;
	margin:0 auto;
	height:20px;
	border-bottom:1px dashed #333
}

#topic .reply dl {
	width:180px;
	margin:0;
	padding:10px 0 0 40px;
	float:left;
}
#topic .reply dl dt {
	width:90px;
	margin:5px 0 5px 45px;	
}
#topic .reply dl dt img {
	border:1px dashed #f60;
	display:block;
}
#topic .reply dl dd {
	height:20px;
	line-height:20px;
	text-indent:10px;
	text-align:center;
	width:75px;
	float:left;
}
#topic .reply dl dd.email {
	width:180px;
	text-align:left;
	padding:2px 0 0 0;
	text-indent:5px;
	overflow:hidden;
}
#topic .reply dl dd a {
	text-decoration:none;
	color:#333;
}
#topic .reply dl dd.user {
	width:170px;
	float:none;
	color:#f60;
}
#topic .reply dl dd.friend {
	background:url(../img/x2.gif) no-repeat left 35%;
}
#topic .reply dl dd.message {
	background:url(../img/x3.gif) no-repeat 5px 35%;
	text-indent:18px;
}

#topic form dl {
	width:450px;
	margin:10px auto;
	position:relative;
}
#topic form dl dt {
	text-align:center;
	padding:10px 0;
	font-weight:bold;
}
#topic form dl dd {
	padding:5px 0;
}
#topic form dl dd label {
	cursor:pointer;
	display:inline-block;
	height:20px;
	padding:0 2px 0 0;
}
#ubb {
	width:410px;
	height:26px;
	background:url(../img/bgMenubar.gif);
	border:1px dashed #333;
	border-bottom:1px solid #666;
}
#ubb img {
	display:block;
	float:left;
	padding:5px 0 0 6px;
}
#font {
	display:none;
	width:125px;
	height:40px;
	background:#eee;
	border:1px dashed #333;
	padding:8px;
	line-height:20px;
	position:absolute;
	top:82px;
	left:5px;
}
#font strong {
	font-weight:normal;
	background:#fff;
	border:1px solid #ccc;
	cursor:default;
}
#color {
	display:none;
	width:152px;
	height:130px;
	font-size:12px;
	background:#eee;
	border:1px dashed #333;
	padding:4px 0 0 4px;
	position:absolute;
	top:82px;
	left:120px;
}
#color strong {
	border:1px solid #999;
	display:block;
	width:12px;
	height:12px;
	float:left;
	margin:4px 0 0 4px;
}
#color em {
	display:block;
	height:28px;
	width:80%;	
	clear:both;
}
#color em input {
	margin-top:10px;
	margin-left:4px;
	width:136px;	
	height:20px;
	cursor:pointer;
	background:#fff;
}
#topic form dl dd textarea {
	width:400px;
	border:1px dashed #333;
	border-top:none;
	background:#fff;
	padding:5px;
}
#topic form dl dd input.text {
	width:250px;
	height:19px;
	border:1px dashed #333;
	background:#fff;
}
#topic form dl dd input.yzm {
	width:60px;
}
#topic form dl dd input.submit {
	width:75px;
	height:21px;
	border:1px dashed #333;
	background:#fff;
	cursor:pointer;
	color:#333;
}
#topic form dl dd input.submit:hover {
	background:#eee;
}
#code {
	position:relative;
	top:8px;
	cursor:pointer;
}
#q a {
	text-decoration:none;
	color:#333;
}


